---
import Image from 'astro/components/Image.astro';
import { navLinks, socialLinks } from '../consts';

const today = new Date();
---

<footer class='footer'>
  <a href='/' class='footer__logo'>
    <img src='/assets/logo.svg' alt="logo"/>
  </a>

  <menu class='footer__menu'>
    {
      navLinks.map((link) => (
        <li class='footer__link'>
          <a href={link.linkTo}>{link.link}</a>
        </li>
      ))
    }
  </menu>

  <ul class='footer__socials'>
    {
      socialLinks.map((link) => (
        <li class='footer__socials--link'>
          <a href={link.linkTo}>
            <Image
              src={link.icon}
              width={16}
              height={16}
              format='svg'
              alt={link.link}
              loading='lazy'
            />
          </a>
        </li>
      ))
    }
  </ul>

  <span class='footer__attribution'>
    <div class='attribution'>
      <ul>
        <li>© {today.getFullYear()} Loopstudios. All rights reserved.</li>
        <li>
          Challenge by <a
            href='https://www.frontendmentor.io?ref=challenge'
            target='_blank'>Frontend Mentor</a
          >.
        </li>
        <li>
          Coded by <a href='ChandaAbdul.dev' target='_blank'>Chanda Abdul</a>.
        </li>
      </ul>
    </div>
  </span>
</footer>

<style lang='scss'>
  .footer {
    padding: var(--spacing-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--ravens-coat);
    color: var(--pearl);
    text-align: center;

    gap: var(--spacing-m);
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
    &__logo img {
      width: 14.4rem;
      height: 2.4rem;
    }

    &__socials {
      display: flex;
      gap: 1.6rem;
      margin: 1.6rem auto;
      &--link {
        img {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }

    &__attribution,
    &__attribution a {
      font-family: var(--font-family-default);
      text-transform: capitalize;
      color: var(--metal-armor);
      font-size: 1.2rem;
      font-weight: var(--font-weight-default);
      line-height: 1.8rem;
    }
  }

  li a {
    color: var(--baby-powder);
    text-align: center;
    font-size: var(--default-font-size-link);
    font-weight: var(--font-weight-display);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-md);
  }

  /* tablet media query */
  @media screen and (min-width: 48em) {
    .footer {
      display: grid;
      grid-template-columns: repeat(2, auto);
      width: 100%;

      &__logo {
        grid-column: 1;
        grid-row: 1;
      }
      &__menu {
        display: flex;
        flex-direction: row;
      }
      &__link,
      &__socials--link {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -1rem;
          left: 50%;
          transform: translateX(-50%);
          background: var(--pearl);
        }
        &:hover::after {
          width: 2.5rem;
        }
      }
      &__attribution {
        grid-row: 3;
        grid-column: 1 / span 2;
        ul {
          display: grid;
          justify-items: end;
          grid-template-columns: auto auto;
          justify-content: space-between;
          align-items: center;
        }
        li {
          &:first-child {
            grid-column: 1;
            grid-row: 2;
          }

          &:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
          }
          &:nth-child(3) {
            grid-column: 2;
            grid-row: 2;
          }
        }
      }
    }
  }
</style>
